@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Civpedia</h1>


    <p>Civpedia est une encyclopédie libre de droit permettant de se familiariser avec l'environnement du jeu Civilisation VI</p>
    <div >
    <a asp-action="Civilisations">
        <img height="200px" width="400px" src="https://br.atsit.in/fr/wp-content/uploads/2021/06/liste-des-niveaux-civ-6-un-guide-des-meilleurs-leaders-civ-6-pour-le-multijoueur.jpg" />
    </a>
    <a asp-action="CitesEtats" >
        <img height="200px" width="400px" src="https://static1.millenium.org/article_old/images/contenu/actus/JeuxVideo/civilization_6/civ6_cites-etats_couleur.jpg" />
    </a>
    <a asp-action="Merveilles">
        <img height="200px" width="400px" src="https://static1.millenium.org/article_old/images/contenu/actus/JeuxVideo/civilization_6/civ6_azteques_3.jpg" />
    </a>
        </div>
</div>
