@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Civpedia</h1>
    <p>Civpedia est une encyclopédie libre de droit permettant de se familiariser avec l'environnement du jeu Civilisation VI</p>
    <p> Les statistiques décrites prennent en compte les extensions Rise & Fall et Gathering Storm, ainsi que les mods d'équilibrage BBG et BBS</p>
    <div>
        <a asp-action="Civilisations">
            <img height="200px" width="400px" src="~/image/civilisation.jpg" />
        </a>
        <a asp-action="CitesEtats">
            <img height="200px" width="400px" src="~/image/citeEtats.jpg" />
        </a>
        <a asp-action="Merveilles">
            <img height="200px" width="400px" src="~/image/merveille.jpg" />
        </a>
        <a asp-action="MerveillesMonde">
            <img height="200px" width="400px" src="~/image/merveille_monde.jpeg" />
        </a>
    </div>
</div>
