@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Civpedia</h1>


    <p>Civpedia est une encyclopédie libre de droit permettant de se familiariser avec l'environnement du jeu Civilisation VI</p>
</div>
