@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Civpedia</h1>


    <p>Civpedia est une encyclopédie libre de droit permettant de se familiariser avec l'environnement du jeu Civilisation VI</p>
    <a asp-action="Civilisations">
        <img src="https://br.atsit.in/fr/wp-content/uploads/2021/06/liste-des-niveaux-civ-6-un-guide-des-meilleurs-leaders-civ-6-pour-le-multijoueur.jpg" />
    </a>
    <a asp-action="CitesEtats">
        <img src="https://br.atsit.in/fr/wp-content/uploads/2021/06/liste-des-niveaux-civ-6-un-guide-des-meilleurs-leaders-civ-6-pour-le-multijoueur.jpg" />
    </a>
    <a asp-action="Merveilles">
        <img src="https://br.atsit.in/fr/wp-content/uploads/2021/06/liste-des-niveaux-civ-6-un-guide-des-meilleurs-leaders-civ-6-pour-le-multijoueur.jpg" />
    </a>
</div>
